*.pyc
.DS_Store
env
venv
.DS_Store
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
database/help.db
.idea/workspace.xml
database/help.db-journal
error.log
error.log
error.log
error.log
