{% extends 'layouts/base' %}
{% block title %}Professor Home{% endblock %}
{% block content %}
<!-- Begin page content -->
<main id="structure" role="main" class="main-content-container">
    <div id="changePasswordModal" class="modal">

        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <form method="post" class="form">
            <h2>Change Password</h2>
            {{ form_password.csrf_token }}
            Current Password:
            {{ form_password.oldpassword(class_ = 'form-control', placeholder = form_password.oldpassword.label.text) }}
            New Password:
            {{ form_password.password(class_ = 'form-control', placeholder = form_password.password.label.text) }}
            Confirm Password:
            {{ form_password.confirm(class_ = 'form-control', placeholder = form_password.confirm.label.text, required = true) }}
            <br>
        <input type="submit" value="Change Password" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-block alert-error section-error-alert">
      <a class="close" data-dismiss="alert">&times;</a>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="/student-home"><button type="button" class="btn bt1"><i class="fa fa-home"></i></button></a> > <a href="/edit-student-profile">{{current_user.name}}</a>
    <div>
        <h1>Welcome, {{ current_user.name }}</h1>
    </div>
    Manage your profile and information.<br>
    <button id="passwordBtn" class="btn btn-primary myBtn" data-toggle="modal" data-target="#changePasswordModal">Change Password</button>
    <div class="profile">
    <h2>Full Name:</h2>
        <p>{{current_user.name}}</p>
    <h2>Email:</h2>
        <p>{{current_user.id}}</p>
    <h2>Organization:</h2>
        <p>{{current_school.schoolName}}</p>
</div>
</main>
{% endblock %}