{% extends 'layouts/base' %}
{% block title %}Edit Chapter{% endblock %}
{% block content %}
<main id="structure" role="main" class="container">
    <h1>Edit Chapter: {{chapterName}}</h1>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="btn btn-primary">Add Section</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" class="form add-section-form">
            <h2>Add Section</h2>
            {{ form.csrf_token }}
            {{ form.sectionName(class_ = 'form-control', placeholder = form.sectionName.label.text, required = true) }}
        <input type="submit" value="Create Section" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
    </div>
    <h3>Here is a list of sections in this chapter</h3>
    <table id="myTable">
        <tr class="header">
            <th style="width:90%;">Section</th>
            <th style="width:5%;"></th>
            <th style="width:5%;"></th>
        </tr>
        {% for section in sections %}
        <tr>
            <td>{{section[2]}}</td>
            <td><a href="/edit-class/{{classID}}/{{chapterID}}/delete/{{section[0]}}"><button type="button" class="btn btn-danger  section-delete-button" onclick="return confirm('Are you sure you want to delete this item?');" >Delete</button></a><br></h5></td>
            <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{section[1]}}"><button type="button" class="btn btn-primary  section-delete-button" >Edit</button></a><br></a></h5></td>
        </tr>
        {% endfor %}
    </table>

</main>
{% endblock %}