{% extends 'layouts/base' %}
{% block title %}Edit Question{% endblock %}
{% block content %}
<main id="structure" role="main" class="container">
    <h1>Add answer: {{questionText}}</h1>
    <form method="post" class="form add-answer-form">
        {{ form_a.csrf_token }}
        Mark if the answer is correct {{ form_a.correctness(class_ = 'form-control', placeholder = form_a.correctness.label.text, required = true) }}
        {{ form_a.answerText(class_ = 'form-control', placeholder = form_a.answerText.label.text, required = true) }}
        {{ form_a.answerReason(class_ = 'form-control', placeholder = form_a.answerReason.label.text, required = true) }}
        <input type="submit" value="Create Answer" class="btn btn-primary btn-lg btn-block">
    </form>
    {% for answer in answers %}
        <h5>Answer: {{answer[3]}} Correctness: {{answer[2]}} Reason: {{answer[4]}}</h5>
    {% endfor %}
</main>
{% endblock %}