{% extends 'layouts/base' %}
{% block title %}Edit Section{% endblock %}
{% block content %}
<main id="structure" role="main" class="container">

    <a href="/professor-home"><button type="button" class="btn bt1"><i class="fa fa-home"></i></button></a> > <a href="/edit-class/{{classID}}">{{className}}</a> > <a href="/edit-class/{{classID}}/{{chapterID}}">{{chapterName}}</a> > <a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}">{{sectionName}}</a>
    <h1>Edit Section: {{sectionName}}</h1>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="btn btn-primary myBtn">Add Text</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" class="form">
            <h2>Add Text</h2>
            {{ form_s.csrf_token }}
            {{ form_s.orderNo2(class_ = 'form-control', placeholder = form_s.orderNo2.label.text, required = true) }}
            {{ form_s.sectionText(class_ = 'form-control', placeholder = form_s.sectionText.label.text, required = true) }}
            <input type="submit" value="Add Text" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
    </div>
    <br>

    <h3>Here is a list of texts for the section</h3>
    <table id="myTable">
            <tr class="header">
                <th style="width:5%;">Text Number</th>
                <th style="width:60%;">Text</th>
                 <th style="width:5%;"></th>
                <th style="width:20;">Images
                <!-- Trigger/Open The Modal -->
                <button id="myBtn" class="btn myBtn btn1">Add Image</button>

                <div id="myModal" class="modal">

                    <div class="modal-content">
                    <span class="close">&times;</span>
                    <form method="post" class="form">
                    <h2>Add Image</h2>
                        {{ form_si.csrf_token }}
                        Text Number:
                        {{ form_si.orderNo4(class_ = 'form-control',  placeholder = form_si.orderNo4.label.text) }}
                        {{ form_si.imageFile(placeholder = form_si.imageFile.label.text) }}
                        Horizontal Position:
                        {{ form_si.xposition(class_ = 'form-control', placeholder = form_si.xposition.label.text) }}
                        Vertical Position:
                        {{ form_si.yposition(class_ = 'form-control', placeholder = form_si.yposition.label.text) }}
                        <input type="submit" value="Add Image" class="btn btn-primary btn-lg btn-block">
                    </form>
                    </div>
                </div></th>
                <th style="width:5%;"></th>
            </tr>
            {% for sectionBlock in sectionBlocks %}
            <tr>
                <!--form to edit section block-->
                 <form method="post" class="form">
                        {{ form_edit.csrf_token }}
                        {{ form_edit.sectionBlockID(value = sectionBlock[0])}}
                     <td>{{ form_edit.orderNo1(class_ = 'form', value = sectionBlock[3]) }}</td>
                     <td>{{ form_edit.text(class_ = 'form', value = sectionBlock[1]) }}</td>
                     <td><input type="submit" value="Save" class="btn"></td>
                    </form>
                <td><ul class="class-student-list">
                {% for image_file in image_files %}
                    {% if image_file[0] == sectionBlock[0] %}<li>{{ image_file[1] }}<a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/text/{{sectionBlock[0]}}/delete/{{image_file[1]}}"><button type="button" class="btn" onclick="return confirm('Are you sure you want to delete this item?');" ><i class="fa fa-remove"></i></button></a><br></li>{% endif %}
                {% endfor %}
                </ul></td>
                <!--<td></div><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/text/{{sectionBlock[0]}}/add-section-block-images"><button type="button" class="btn btn1" >Add/Edit Images</button></a><br></a></h5></td>-->
                <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/text/{{sectionBlock[0]}}/delete"><button type="button" class="btn btn2" onclick="return confirm('Are you sure you want to delete this item?');" ><i class="fa fa-trash"></i></button></a><br></h5></td>
            </tr>
             {% endfor %}
        </table><br><br>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="btn btn-primary myBtn">Add Question</button>

    <div id="myModal" class="modal">

        <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" class="form">
            <h2>Add Question</h2>
            {{ form_q.csrf_token }}
            {{ form_q.orderNo3(class_ = 'form-control', placeholder = form_q.orderNo3.label.text) }}
            {{ form_q.questionText(class_ = 'form-control', placeholder = form_q.questionText.label.text, required = true) }}
            Question Type:<br>
            {{ form_q.questionType(placeholder = form_q.questionType.label.text, required = true) }}<br><br>
            Image File: (If no image is uploaded, there will be a default image uploaded)
            {{ form_q.imageFile(placeholder = form_q.imageFile.label.text) }}
            <br>
        <input type="submit" value="Create Question" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
</div>
    <h3>Here is a list of questions for the section</h3>
    <table id="myTable">
            <tr class="header">
                <th style="width:5%;">Question Number</th>
                <th style="width:50%;">Question</th>
                <th style="width:5%;">Question Type</th>
                <th style="width:5%;"></th>
                <th style="width:25%;">Image File</th>
                <th style="width:5%;"></th>
                 <th style="width:5%;"></th>
            </tr>
            {% for question in questions %}
            <tr>
                <!--form to edit section block-->
                 <form method="post" class="form">
                        {{ form_edit_question.csrf_token }}
                        {{ form_edit_question.questionID(value = question[0])}}
                     <td>{{ form_edit_question.orderNo5(class_ = 'form', value = question[4]) }}</td>
                     <td>{{ form_edit_question.questionText(class_ = 'form', value = question[1]) }}</td>
                     <td>{{ form_edit_question.questionType(value = question[3]) }}</td>
                     <td><input type="submit" value="Save" class="btn"></td>
                    </form>
                <td>{{question[5]}}</td>
                <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/{{question[0]}}"><button type="button" class="btn btn1" >Add/Edit Answers</button></a><br></a></h5></td>
                <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/delete/{{question[0]}}"><button type="button" class="btn btn2" onclick="return confirm('Are you sure you want to delete this item?');" ><i class="fa fa-trash"></i></button></a><br></h5></td>
            </tr>
             {% endfor %}
        </table><br><br>

        <form method="post" class="form">
            <h3>Add Video</h3>
            {{ form_v.csrf_token }}
            {{ form_v.videoFile(placeholder = form_v.videoFile.label.text, required = true) }}<br>
            <input type="submit" value="Add Video" class="btn btn-primary">
        </form>
    <h3>Here are all the videos associated with this section</h3>
    Need to add way to play videos here
    {% for video in videos %}
        {{video[1]}}
    {% endfor %}

<script>
// Get the modal
var modal = document.getElementsByClassName('modal');

// Get the button that opens the modal
var btn = document.getElementsByClassName("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close");

btn[0].onclick = function() {
    modal[0].style.display = "block";
}
btn[1].onclick = function() {
    modal[1].style.display = "block";
}
btn[2].onclick = function() {
    modal[2].style.display = "block";
}


// When the user clicks on <span> (x), close the modal
span[0].onclick = function() {
    modal[0].style.display = "none";
}
span[1].onclick = function() {
    modal[1].style.display = "none";
}
span[2].onclick = function() {
    modal[2].style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function myFunction() {
  var  filter, table, tr, td, i, txtValue;
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</main>
{% endblock %}