{% extends 'layouts/base' %}
{% block title %}Edit Question{% endblock %}
{% block content %}
<main id="structure" role="main" class="container">
    <a href="/professor-home"><button type="button" class="btn bt1"><i class="fa fa-home"></i></button></a> > <a href="/edit-class/{{classID}}">{{className}}</a> > <a href="/edit-class/{{classID}}/{{chapterID}}">{{chapterName}}</a> > <a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}">{{sectionName}}</a> > <a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/{{questionID}}">{{questions}}</a>
    <h3>{{questions}}</h3>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" onclick="displayModal()" class="btn btn-primary">Add Answer</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content" {% if questionType == "dragndrop" %}id="new-drag-and-drop-answer"{% endif %}>
        <span class="close">&times;</span>
        {% if questionType == "dragndrop" %}
        <div class="dragndrop-form-area">
            <form method="post" class="form image-form" enctype=multipart/form-data>
                {{ drag_n_drop_image_form.csrf_token }}
                <p style="margin-bottom: 0px;">First, select an answer image (the image you would like the student to drag):</p>
                {{ drag_n_drop_image_form.drag_answer_image(class_ = 'form-control', placeholder = drag_n_drop_image_form.drag_answer_image.label.text, required = true) }}
                <p style="margin-bottom: 0px;">Mark if the answer is correct:</p>
                {{ drag_n_drop_image_form.correctness(class_ = 'form-control', placeholder = drag_n_drop_image_form.correctness.label.text, required = true)}}
                <input type="submit" value="Upload Image" class="btn btn-primary btn-lg btn-block">
            </form>
            <form method="post" class="form drag-form">
                {{ drag_n_drop_form.csrf_token }}
                <input class="form-control" id="answerImage" name="answerImage" style="display: none;" type="text" value="{{drag_n_drop_answer_image}}">
                <p>Set answer image size:</p>
                {{ drag_n_drop_form.drop_zone_size(class_ = 'form-control', placeholder = drag_n_drop_form.drop_zone_size.label.text, required = true, onchange = 'changedDropBoxSize(this)') }}
                {% if drag_n_drop_correct == '1' %}<p>Click on the question image where you would like the student to drag this answer.</p>{% endif %}
                <div style="display: none;" class="drag-answer-img-container">
                    {% if drag_n_drop_correct == '1' %}<img id="drag-question-image" class="drag-n-drop-img" src="{{questionImage}}">{% endif %}
                    <img {% if drag_n_drop_answer_image == "" %} style="display: none;" {% endif %} src="{{drag_n_drop_answer_image}}" id="drag_n_drop_answer_img">
                </div>
                {% if drag_n_drop_correct == '1' %}
                <p>Select a color for the drop box so that it always stands out:</p>
                <input class="form-control" type="color" id="drop_zone_color" onchange="changeBorderColor(this)" name="drop_zone_color" value="#000000">
                {{ drag_n_drop_form.answerReason(class_ = 'form-control', placeholder = drag_n_drop_form.answerReason.label.text, required = true) }}
                {{ drag_n_drop_form.answerXCoord(class_ = 'form-control', style='display: none;', id='click-x-coord', placeholder = drag_n_drop_form.answerXCoord.label.text, required = true) }}
                {{ drag_n_drop_form.answerYCoord(class_ = 'form-control', style='display: none;', id='click-y-coord', placeholder = drag_n_drop_form.answerYCoord.label.text, required = true) }}
                {% else %}
                <input class="form-control" type="color" style="display: none;" id="drop_zone_color" onchange="changeBorderColor(this)" name="drop_zone_color" value="#000000">
                {{ drag_n_drop_form.answerReason(class_ = 'form-control', placeholder = drag_n_drop_form.answerReason.label.text, required = true) }}
                <input class="form-control" type="number" style="display: none;" id="click-x-coord" name="answerXCoord" value="0">
                <input class="form-control" type="number" style="display: none;" id="click-y-coord" name="answerYCoord" value="0">
                {% endif %}
                <input class="form-control" id="correctness" name="correctness" style="display: none;" type="text" value="{{drag_n_drop_correct}}">
                {{ drag_n_drop_form.drop_zone_adjusted_size(class_ = 'form-control', id='adjusted-size-ratio',placeholder = drag_n_drop_form.drop_zone_adjusted_size.label.text, required = true) }}
                <input type="submit" value="Create Answer" class="btn btn-primary btn-lg btn-block">
            </form>
        </div>
        {% else %}
        <form method="post" class="form">
            <h2>Add Answer</h2>
            {{ form_a.csrf_token }}
            Answer Text:
            {{ form_a.answerText(class_ = 'form-control', placeholder = form_a.answerText.label.text, required = true) }}
            True or false?
            {{ form_a.correctness(class_ = 'form-control', placeholder = form_a.correctness.label.text, required = false) }}
            Reasoning:
            {{ form_a.answerReason(class_ = 'form-control', placeholder = form_a.answerReason.label.text, required = true) }}
            {{ form_a.imageFile(placeholder = form_a.imageFile.label.text) }}
            <input type="submit" value="Create Answer" class="btn btn-primary btn-lg btn-block">
        </form>
        {% endif %}
    </div>
</div>
    <h3>Here is a list of answers for this question</h3>
    <table id="myTable">
        <tr class="header">
            <th style="width:30%;">Answer</th>
            <th style="width:10%;">Correctness</th>
            <th style="width:25%;">Reason</th>
            <th style="width:5%;"></th>
            <th style="width:20%;">Image File</th>
            <th style="width:5%;"></th>
            <th style="width:5%;"></th>
        </tr>
        {% for answer in answers %}
        <tr>
            <!--form to edit answer-->
                 <form method="post" class="form">
                        {{ form_edit.csrf_token }}
                        {{ form_edit.answerID(value = answer[0])}}
                     <td>{{ form_edit.answerText2(class_ = 'form', value = answer[3]) }}</td>
                     <td>{{ form_edit.correctness(value = answer[2]) }}</td>
                     <td>{{ form_edit.answerReason(class_ = 'form', value = answer[4]) }}</td>
                     <td><input type="submit" value="Save" class="btn btn1"></td>
                    </form>
            <td>{{answer[5]}}</td>
            <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/{{questionID}}"><button type="button" class="btn btn1" >Edit</button></a><br></a></h5></td>
            <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/{{questionID}}/delete/{{answer[0]}}"><button type="button" class="btn btn2" onclick="return confirm('Are you sure you want to delete this item?');" ><i class="fa fa-trash"></i></button></a><br></h5></td>
        </tr>
        {% endfor %}
    </table>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
function displayModal() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
function myFunction() {
  var  filter, table, tr, td, i, txtValue;
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</main>
{% endblock %}