{% extends 'layouts/base' %}
{% block title %}Edit Class{% endblock %}
{% block content %}
<main id="structure" role="main" class="container">
    <h1>Edit Class: {{className}}</h1>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="btn btn-primary">Add Chapter</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" class="form add-chapter-form">
            <h2>Add Chapter</h2>
            {{ form.csrf_token }}
            {{ form.chapterName(class_ = 'form-control', placeholder = form.chapterName.label.text, required = true) }}
            <input type="submit" value="Create Chapter" class="btn btn-primary btn-lg btn-block">
        </form>
    </div>
    </div>
    <h3>Here is a list of chapters in this class</h3>

        <table id="myTable">
            <tr class="header">
                <th style="width:90%;">Chapter</th>
                <th style="width:5%;"></th>
                <th style="width:5%;"></th>
            </tr>
            {% for chapter in chapters %}
            <tr>
                <td>{{chapter[1]}}</td>
                <td><a href="/edit-class/{{classID}}/delete/{{chapter[0]}}"><button type="button" class="btn btn-danger  chapter-delete-button" onclick="return confirm('Are you sure you want to delete this item?');" >Delete</button></a></td>
                <td><a href="/edit-class/{{classID}}/{{chapter[0]}}"><button type="button" class="btn btn-primary  chapter-delete-button" >Edit</button></a></td>
            </tr>
            {% endfor %}
        </table>
    <h3>To access the glossary, click here.</h3>
    <button id="myBtn2" class="btn btn-primary" onclick="window.location.href = '/edit-class/{{classID}}/glossary';">Edit Glossary</button>
</main>
{% endblock %}