{% extends 'layouts/base' %}
{% block title %}Edit Glossary{% endblock %}
{% block content %}
<main id="structure" role="main" class="container">
    <h1>Edit Glossary: {{className}}</h1>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="btn btn-primary">Add Term</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" class="form add-term-form">
            <h2>Add Term</h2>
            {{ form.csrf_token }}
            {{ form.term(class_ = 'form-control', placeholder = form.term.label.text, required = true) }}
            {{ form.definition(class_ = 'form-control', placeholder = form.definition.label.text, required = true) }}
        <input type="submit" value="Create Term" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
    </div>

    <h3>Here is a list of terms with definitions in the Glossary</h3>

        <table id="myTable">
            <tr class="header">
                <th style="width:20%;">Term</th>
                <th style="width:70%;">Definition</th>
                <th style="width:5%;"></th>
                <th style="width:5%;"></th>
            </tr>
            {% for term in terms %}
            <tr>
                <td>{{term[2]}}</td>
                <td>{{term[3]}}</td>
                <td><a href="/edit-class/{{classID}}/glossary/delete/{{term[1]}}"><button type="button" class="btn btn-danger section-delete-button" onclick="return confirm('Are you sure you want to delete this item?');" >Delete</button></a><br></h5></td>
                <td><a href="/edit-class/{{classID}}/glossary/"><button type="button" class="btn btn-primary section-delete-button" >Edit</button></a><br></a></h5></td>
            </tr>
             {% endfor %}
        </table>
</main>
{% endblock %}