{% extends 'layouts/base' %}
{% block title %}Edit Question{% endblock %}
{% block content %}
<main id="structure" role="main" class="container">
    <h3>{{questions}}</h3>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="btn btn-primary">Add Answer</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" class="form add-answer-form">
            {{ form_a.csrf_token }}
            Mark if the answer is correct {{ form_a.correctness(class_ = 'form-control', placeholder = form_a.correctness.label.text, required = false) }}
            {{ form_a.answerText(class_ = 'form-control', placeholder = form_a.answerText.label.text, required = true) }}
            {{ form_a.answerReason(class_ = 'form-control', placeholder = form_a.answerReason.label.text, required = true) }}
        <input type="submit" value="Create Answer" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
</div>
    <h3>Here is a list of answers for this question</h3>
    <table id="myTable">
        <tr class="header">
            <th style="width:30%;">Answer</th>
            <th style="width:10%;">Correctness</th>
            <th style="width:50%;">Reason</th>
            <th style="width:5%;"></th>
            <th style="width:5%;"></th>
        </tr>
        {% for answer in answers %}
        <tr>
            <td>{{answer[3]}}</td>
            <td>{{answer[2]}}</td>
            <td>{{answer[4]}}</td>
            <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/{{questionID}}/delete/{{answer[0]}}"><button type="button" class="btn btn-danger btn-xs section-delete-button" onclick="return confirm('Are you sure you want to delete this item?');" >Delete</button></a><br></h5></td>
            <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/{{questionID}}"><button type="button" class="btn btn-primary btn-xs section-delete-button" >Edit</button></a><br></a></h5></td>
        </tr>
        {% endfor %}
    </table>

</main>
{% endblock %}