{% extends 'layouts/base' %}
{% block title %}Edit Section{% endblock %}
{% block content %}
{% from "layouts/macros.html" import questionTypes with context %}
<main id="structure" role="main" class="main-content-container">
    <div id="addTextModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form method="post" class="form">
            <h2>Add Text</h2>
            {{ form_s.csrf_token }}
            Text Number:
            {{ form_s.orderNo2(class_ = 'form-control', placeholder = form_s.orderNo2.label.text, required = true) }}
            Text:
            {{ form_s.sectionText(class_ = 'form-control', placeholder = form_s.sectionText.label.text, required = true) }}
            <input type="submit" value="Add Text" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
    </div>
    <!-- Add image Modal -->
     <div id="addImageModal" class="modal">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    <form method="post" class="form" enctype=multipart/form-data>
                    <h2>Add Image</h2>
                        {{ form_si.csrf_token }}
                        {{ form_si.orderNo4(class_ = 'form-control hidden-form-field',  placeholder = form_si.orderNo4.label.text) }}
                        {{ form_si.imageFile(placeholder = form_si.imageFile.label.text) }}<br>
                        Horizontal Position:
                        {{ form_si.xposition(class_ = 'form-control', placeholder = form_si.xposition.label.text) }}
                        Vertical Position:
                        {{ form_si.yposition(class_ = 'form-control', placeholder = form_si.yposition.label.text) }}
                        <input type="submit" value="Add Image" class="btn btn-primary btn-lg btn-block">
                    </form>
                    </div>
                </div>

    <!-- Question Modal -->
        <div id="createQuestionModal" class="modal">

        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <form method="post" class="form" enctype=multipart/form-data>
            <h2>Add Question</h2>
            {{ form_q.csrf_token }}
            Question Number:
            {{ form_q.orderNo3(class_ = 'form-control', placeholder = form_q.orderNo3.label.text) }}
            Question:
            {{ form_q.questionText(class_ = 'form-control', placeholder = form_q.questionText.label.text, required = true) }}
            Question Type:<br>
            {{ form_q.questionType(placeholder = form_q.questionType.label.text, required = true) }}<br><br>
            Image File: (If no image is uploaded, there will be a default image uploaded)<br>
            {{ form_q.imageFile2(placeholder = form_q.imageFile2.label.text) }}
            <br>
        <input type="submit" value="Create Question" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
    </div>

    <!-- Video Modal -->
        <div id="addVidModal" class="modal">

        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        <form method="post" class="form" enctype=multipart/form-data>
            <h3>Add Video</h3>
            {{ form_v.csrf_token }}
            {{ form_v.videoFile(placeholder = form_v.videoFile.label.text, required = true) }}<br>
            Video Number:
            {{ form_v.orderNo(class='form-control', placeholder = form_v.orderNo.label.text, required = true) }}
            <input type="submit" value="Add Video" class="btn-primary btn-lg btn-block">
        </form>
    </div>
</div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-block alert-error section-error-alert">
      <a class="close" data-dismiss="alert">&times;</a>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="/professor-home"><button type="button" class="btn bt1"><i class="fa fa-home"></i></button></a> > <a href="/edit-class/{{classID}}">{{className}}</a> > <a href="/edit-class/{{classID}}/{{chapterID}}">{{chapterName}}</a> > <a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}">{{sectionName}}</a>
    <br><br>

        <a href="/section/{{classID}}/{{chapterID}}/{{sectionID}}"><button class="btn btn-success">Preview Section</button></a>

    <h1>Edit Section: {{sectionName}}</h1>
    <!-- Trigger/Open The Modal -->

    <button id="addTextBtn" class="btn btn-primary myBtn" data-toggle="modal" data-target="#addTextModal">Add Text</button> {{ tips("text", "Here, you can add, edit, and delete text. Each text has a text number and
    can have multiple images associated with it.") }}
    <br>

    <h3>Texts Blocks</h3>
    <table id="myTable">
            <tr class="header">
                <th style="width:5%;">Text Number</th>
                <th style="width:40%;">Text</th>
                 <th style="width:5%;"></th>
                <th style="width:20%;">Images
                <!-- Trigger/Open The Modal -->

               </th>
                <th style="width: 15%;">Add Image</th>
                <th style="width:5%;"></th>
            </tr>
            {% for sectionBlock in sectionBlocks %}
            {% set block_loop = loop %}
            <tr>
                <!--form to edit section block-->
                 <form method="post" class="form">
                        {{ form_edit.csrf_token }}
                        {{ form_edit.sectionBlockID(value = sectionBlock[0])}}
                     <td>{{ form_edit.orderNo1(class_ = 'form', value = sectionBlock[3]) }}</td>
                     <td>{{ form_edit.text(class_ = 'form reset_me', value = sectionBlock[1]) }}</td>
                     <td><input type="submit" value="Save" class="btn btn1"></td>
                    </form>
                <td><ul class="class-student-list">
                {% for image_file in image_files %}
                    {% if image_file[0] == sectionBlock[0] %}
                        {% for link in links %}
                            {% if link[1] == image_file[1] %}
                                <!--form to unpublish-->
                        <form method="post" class="form">
                            {{ form_delete_image.csrf_token }}
                            {{ form_delete_image.sectionBlockID2(value = sectionBlock[0])}}
                            <li><img src="{{image_file[1]}}" width="100" height="100"><button type="submit" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn2"><i class="fa fa-close"></i></button></li>
                        </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul></td>
                <td><button id="myBtn" class="btn myBtn btn1" data-toggle="modal" data-target="#addImageModal" onclick="setFormTextNumber({{block_loop.index}})">Replace Image</button>{{ tips("image", "Add images to text blocks by clicking the 'Add Image' button. This will associate the given image with that text block. You will also be asked for a position for the image relative to the text block.") }}</td>
                <!--<td></div><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/text/{{sectionBlock[0]}}/add-section-block-images"><button type="button" class="btn btn1" >Add/Edit Images</button></a><br></a></h5></td>-->
                <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/text/{{sectionBlock[0]}}/delete"><button type="button" class="btn btn2" onclick="return confirm('Are you sure you want to delete this item?');" ><i class="fa fa-trash"></i></button></a><br></h5></td>
            </tr>
             {% endfor %}
        </table><br><br>

     <button id="videoBtn" class="btn btn-primary myBtn" data-toggle="modal" data-target="#addVidModal">Add Video</button>{{ tips("video","Here you can add videos and set what order the videos appear for the students. ") }}
    <h3>Videos</h3>
    <table id="myTable1">
        <tr class="header">
                 <th style="width:5%;">Video Number</th>
                <th style="width:85%;">Video</th>
                <th style="width:5%;"></th>
            <th style="width:5%;"></th>
            </tr>
    {% for video in videos %}
        {% for video_link in video_links %}
        {% if video_link[0] == video[1] %}
        <tr>
            <form method="post" class="form" enctype=multipart/form-data>
            {{ form_edit_video.csrf_token }}
            {{ form_edit_video.videoFile(value = video[1])}}<br>
                <td>{{ form_edit_video.orderNo6(class='form', value=video[2]) }}</td>


        <td>
        <video width="200" controls>
            <source src="{{video[1]}}">
        </video>
        </td>
                <td><input type="submit" value="Save" class="btn btn1"></td>
        </form>
        <td>
            <form method="post" class="form">
                {{ form_delete_video.csrf_token }}
                {{ form_delete_video.videoFile2(value = video[1])}}
                <button type="submit" value="Delete Video"class="btn btn2" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></button>
            </form>
        </td>
        {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table><br><br>

    <!-- Trigger/Open The Modal -->
    <button id="questionBtn" class="btn btn-primary myBtn" data-toggle="modal" data-target="#createQuestionModal">Add Question</button>{{ tips("question", "Here you can add, edit and delete. There are four different
    types of questions: Short Answer, Multiple Choice, Drag and Drop, and Point and Click. You must select an image if you are creating a drag and drop question or a point and click question. Images are optional for short answer/multiple choice.") }}

    <h3>Questions</h3>
    <table id="myTable">
            <tr class="header">
                 <th style="width:5%;"></th>
                <th style="width:5%;">Question Number</th>
                <th style="width:50%;">Question</th>
                <th style="width:5%;">Question Type</th>
                <th style="width:5%;"></th>
                <th style="width:25%;">Image File</th>
                <th style="width:5%;"></th>
            </tr>
            {% for question in questions %}
            <tr>
                <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/{{question[0]}}"><button type="button" class="btn btn1" >Add/Edit<br>Answers</button></a><br></a></h5></td>
                <!--form to edit section block-->
                 <form method="post" class="form" >
                        {{ form_edit_question.csrf_token }}
                        {{ form_edit_question.questionID(value = question[0])}}
                     <td>{{ form_edit_question.orderNo5(class_ = 'form', value = question[4]) }}</td>
                     <td>{{ form_edit_question.questionText(class_ = 'form reset_me', value = question[1]) }}</td>
                     <td>
                         {{ form_edit_question.questionType(value = question[3], class_ = 'form reset_me') }}
                     </td>
                     <td><input type="submit" value="Save" class="btn btn1"></td>
                    </form>
                <td><img src="{{question[5]}}" width="100" height="100">
                    <form method="post" class="form" enctype=multipart/form-data>
                        {{ form_change.csrf_token }}
                        {{ form_change.questionID(value = question[0])}}
                        {{ form_change.imageFile1(placeholder = form_change.imageFile1.label.text) }}
                        <input type="submit" value="Replace Image" class="btn btn1" value="{{imageFile1}}">
                    </form>
                </td>

                <td><a href="/edit-class/{{classID}}/{{chapterID}}/{{sectionID}}/question/delete/{{question[0]}}"><button type="button" class="btn btn2" onclick="return confirm('Are you sure you want to delete this item?');" ><i class="fa fa-trash"></i></button></a><br></h5></td>
            </tr>
             {% endfor %}
        </table><br><br>


<script>
// Get the modal
var modal = document.getElementsByClassName('modal');

// Get the button that opens the modal
var btn = document.getElementsByClassName("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close");
//unecessary
/*
btn[0].onclick = function() {
    modal[0].style.display = "block";
}
btn[1].onclick = function() {
    modal[1].style.display = "block";
}
btn[2].onclick = function() {
    modal[2].style.display = "block";
}
btn[3].onclick = function() {
    modal[3].style.display = "block";
}
*/

// When the user clicks on <span> (x), close the modal
//redundant
/*
span[0].onclick = function() {
    modal[0].style.display = "none";
}
span[1].onclick = function() {
    modal[1].style.display = "none";
}
span[2].onclick = function() {
    modal[2].style.display = "none";
}
span[3].onclick = function() {
    modal[3].style.display = "none";
}
*/
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

function myFunction() {
  var  filter, table, tr, td, i, txtValue;
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</main>
{% endblock %}
