{% extends 'layouts/main-login.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/css/rotateText.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/home.css"/>
<body>
<!--
<div class="bg">
    <span>Higher</span><br>
    <span>Education</span><br>
    <span>Learning</span><br>
    <span>Program</span>
</div>
-->
<div class=box>
    <div class="title" id="landing-title">TEST! in <br/>
    </div>
    <div class="word_outer">
        <div class="word">
            <span>Biomechanics</span>
            <span>Physics</span>
            <span>History</span>
            <span>Chemistry</span>
            <span>Computer Science</span>
        </div>
    </div>

    <div class="login">
        <div class="call-to-action-div">
            <a href="/login">
                <button class="btn bg-success learn-more-btn login-btn">Get Started</button>
            </a>
        </div>
    </div>
</div>
</body>
{% endblock %}
