{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/css/rotateText.css" />
<link type="text/css" rel="stylesheet" href="/static/css/home.css" />
<body>
    <div class=box>
        HELP! in
        <div class="word">
            <span>Biomechanics</span>
            <span>Physics</span>
            <span>History</span>
            <span>Chemistry</span>
            <span>Computer Science</span>
        </div>
          <div class="call-to-action-div">
              <a href="/login" ><button class="btn bg-success learn-more-btn login-btn">Login</button></a>
          </div>
    </div>
</body>
{% endblock %}
