{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
 <div class="hero-image">
     <img src="{{url_for('static', filename='img/nature.jpg')}}" class="hero-img">
  <div class="hero-text">
    <h1>Welcome</h1>
    <h3>To the new PT Biophysics App!</h3>
      <div class="call-to-action-div">
          <a href="/student-login" ><button class="btn bg-success learn-more-btn">Students</button></a>
          <a href="/professor-login"><button class="btn bg-success get-started-btn">Professors</button></a>
      </div>
      <h3><a href="/logout">Logout</a></h3>
  </div>
</div>
{% endblock %}
