{% extends 'layouts/student.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/quiz.css" />



<div class="page-header">
  <h1>Chapter X: Section X</h1>
</div>
{% endblock %}

{% block previd%} <p class="lead"><a href="{{ url_for('student_short') }}"> Short Answers </a> </p> {% endblock %}

{% block postvid%}

  <div id="quizContainer">
        <div id="start">Start Quiz!</div>
        <div id="quiz" style="display: none">
            <div id="question"></div>
            <div id="qImg">
            </div>
            <div id="choices">
                <div class="choice" id="A" onclick="checkAnswer('A')"  data-toggle="modal" data-target="#answerModal"></div>
                <div class="choice" id="B" onclick="checkAnswer('B')" data-toggle="modal" data-target="#answerModal"></div>
                <div class="choice" id="C" onclick="checkAnswer('C')" data-toggle="modal" data-target="#answerModal"></div>
                <div class="choice" id="D" onclick="checkAnswer('D')" data-toggle="modal" data-target="#answerModal"></div>
            </div>
            <div id="timer">
                <div id="counter"></div>
                <div id="btimeGauge"></div>
                <div id="timeGauge"></div>
            </div>
            <div id="progress"></div>
        </div>
        <div id="scoreContainer" style="display: none"></div>
    </div>
    <script src="/static/js/quiz.js"></script>

{% endblock %}