{% extends 'layouts/student.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/short.css" />


<div class="page-header">
  <h1>Chapter X: Section X - Short</h1>
</div>
{% endblock %}

{% block previd%} <p class="lead">  <p class="lead"><a href="{{ url_for('student_quiz') }}"> Quiz </a> </p> </p> {% endblock %}

{% block postvid%}
  <div id="shortContainer">
        <div id="start">Start Quiz!</div>
        <div id="quiz" style="display: none">
            <div id="question"></div>
            <div id="qImg"></div>
            <div id="answer">
                <input type="text" placeholder="Enter Answer Here" id="shortAns" name="shortAns">
                 <button type="button" id="submitBtn" onclick="getInputValue();">Submit</button>
            </div>
            <div id="timer">
                <div id="counter"></div>
                <div id="btimeGauge"></div>
                <div id="timeGauge"></div>
            </div>
            <div id="progress"></div>
        </div>
        <div id="scoreContainer" style="display: none"></div>
    </div>
    <script src="/static/js/short.js"></script>
{% endblock %}