{% extends 'layouts/base' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<main id="structure" role="main" class="main-content-container">
    <a href="/student-home"><button type="button" class="btn bt1"><i class="fa fa-home"></i></button></a>
    <h1>Welcome {{name}} to the student homepage!</h1>
    <button id="myBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Class</button>
    <a href="/edit-student-profile"><button type="button" class="btn btn1 btn4">Edit Profile</button></a>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <form method="post" class="form">
                <h2>Add Class</h2>
                {{ form.csrf_token }}
                Class Code:
                {{ form.class_code(class_ = 'form-control', placeholder = form.class_code.label.text, required = true) }}
                <input type="submit" value="Add Class" class="btn btn-primary btn-lg btn-block">
            </form>
        </div>
    </div><br><br>
    <table id="myTable">
        <tr class="header">
                 <th style="width:100%;">Class Name</th>
            </tr>
    {% for _class in classes %}
        <tr>
            <td><a href="/student-class-overview/{{_class[1]}}"><h4>{{_class[0]}}</h4></a></td>
        </tr>
    {% endfor %}
    </table>
</main>
{% endblock %}