{% extends 'layouts/base' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="page-header">
    <h1>Welcome {{name}} to the student homepage!</h1>
    <ul>
        {% for _class in classes %}
            <li><a href="/student-quiz/{{_class[1]}}/1/1"><h3>{{_class[0]}}</h3></a></li>
        {% endfor %}
    </ul>
    <form method="post" class="form add-course-form">
        {{ form.csrf_token }}
        {{ form.class_code(class_ = 'form-control', placeholder = form.class_code.label.text, required = true) }}
        <input type="submit" value="Add Class" class="btn btn-primary btn-lg btn-block">
    </form>
    <h3><a href="/logout">Logout</a></h3>
</div>
{% endblock %}