{% extends 'layouts/base' %}
{% block title %}Class Overview{% endblock %}
{% block content %}
<main id="structure" role="main" class="main-content-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-block alert-error section-error-alert">
      <a class="close" data-dismiss="alert">&times;</a>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <a href="/student-home"><button type="button" class="btn bt1"><i class="fa fa-home"></i></button></a> > <a href="/student-class-overview/{{classID}}">{{class_name}}</a>
    <h1>{{class_name}} Overview</h1>
    <a href="/section/{{classID}}/{{last_chapter_ID}}/{{last_section_ID}}"><button class="btn btn-primary btn-lg btn-block restart-btn">Pick Up Where You Left Off</button></a>
    If there aren't any links or little to no info, then your professor has not published much or any content to this class.
    {% for chapter in chapters %}
        {% set outer_loop = loop %}
        {% if chapter[4] ==1 %}
        <h2>Chapter {{chapter[1]}}</h2>
        {% for section in sections[outer_loop.index-1] %}
            {% set second_loop = loop %}
            {% if section[4] == 1 %}
            <a href="/section/{{classID}}/{{chapter[0]}}/{{section[0]}}"><h3>Section: {{section[2]}}</h3></a>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endfor %}
</main>
{% endblock %}