{% extends 'layouts/base' %}
{% block title %}Glossary {{class_name}}{% endblock %}
{% block content %}
<div id="sidebar" class="sidenav" style="font-size:10px;">

    {% for _alpha in alpha %}
        <a href="#gloss{{_alpha}}">{{_alpha}}</a>
    {% endfor %}


</div>

    <!-- Begin page content -->
    <link href="/static/css/glossary.css" rel="stylesheet" type="text/css"/>
    <main id="glossary-structure" role="main" class="main-content-container">
        <div>
            <h1>Glossary {{class_name}}</h1>
        </div>
        <!--Section relating to the text on this page-->
        <div id="infoText">
            {% set idx = 0 %}
            {% for _alpha in alpha %}
            <h3 id="gloss{{_alpha}}">{{_alpha}}</h3>
                {% for _term in gloss %}
                    {% if _term[1][0] == _alpha %}
                        <p>
                            <strong>{{_term[1]}}</strong>: {{_term[2]}}
                            <div class="term-images-container card-group">
                                {% for _image_array in images %}
                                    {% for _image in _image_array %}
                                        {% if _image[0] == _term[0] %}
                                            <div class="card card-width-setting" id="{{_term[1]}} Image"title="{{_term[1]}} Image">
                                                {% if _image[1]!= None %}
                                                <img class="card-img-top" alt="Picture Unavailable" src="{{ _image[1] }}">
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </p>
                        <hr>
                        {% set idx = (idx+1) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
</div>
<br><br><br>

</main>
{% endblock %}