<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Glossary {{class_name}}</title>

    <!-- meta -->
    <meta name="description" content="Template file for glossary pages">
    <meta name="author" content="Braden Ash">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- /meta -->

    <!-- styles -->
    <link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/layout.main.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/sidenav.css"/>

    <!-- /styles -->

    <!-- scripts -->
    <script src=""></script>
    <!-- /scripts -->

</head>

<body>


<div id="sidebar" class="sidenav" style="font-size:15px;">

    <a href="#glossA">A</a> <!--Link to A page in Glossary-->
    <a href="#glossB">B</a> <!--Link to B page in Glossary-->
    <a href="#glossC">C</a> <!--Link to C page in Glossary-->
    <a href="#glossD">D</a> <!--Link to D page in Glossary-->
    <a href="#glossE">E</a> <!--Link to E page in Glossary-->
    <a href="#glossF">F</a> <!--Link to F page in Glossary-->
    <a href="#glossG">G</a> <!--Link to G page in Glossary-->
    <a href="#glossH">H</a> <!--Link to H page in Glossary-->
    <a href="#glossI">I</a> <!--Link to I page in Glossary-->
    <a href="#glossJ">J</a> <!--Link to J page in Glossary-->
    <a href="#glossK">K</a> <!--Link to K page in Glossary-->
    <a href="#glossL">L</a> <!--Link to L page in Glossary-->
    <a href="#glossM">M</a> <!--Link to M page in Glossary-->
    <a href="#glossN">N</a> <!--Link to N page in Glossary-->
    <a href="#glossO">O</a> <!--Link to O page in Glossary-->
    <a href="#glossP">P</a> <!--Link to P page in Glossary-->
    <a href="#glossQ">Q</a> <!--Link to Q page in Glossary-->
    <a href="#glossR">R</a> <!--Link to R page in Glossary-->
    <a href="#glossS">S</a> <!--Link to S page in Glossary-->
    <a href="#glossT">T</a> <!--Link to T page in Glossary-->
    <a href="#glossU">U</a> <!--Link to U page in Glossary-->
    <a href="#glossV">V</a> <!--Link to V page in Glossary-->
    <a href="#glossW">W</a> <!--Link to W page in Glossary-->
    <a href="#glossX">X</a> <!--Link to X page in Glossary-->
    <a href="#glossY">Y</a> <!--Link to Y page in Glossary-->
    <a href="#glossZ">Z</a> <!--Link to Z page in Glossary-->
</div>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/glossary-template">Glossary {{class_name}}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if request.endpoint==
                    'home' %} class="active" {% endif %}><a href="{{ url_for('home') }}">Home</a></li>
                    <li {% if request.endpoint==
                    'student' %} class="active" {% endif %}><a href="{{ url_for('student_home') }}">Student</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="{{ url_for('new_prof_acc') }}">Signup</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <script src="/static/js/glossary.js"></script>
    <main id="structure" role="main" class="container">
        <div>
            <h1>Glossary {{class_name}}</h1>
        </div>
        <!--Section relating to the text on this page-->
        <div id="infoText" style="border: 2px solid Black;">
            {% set idx = 0 %}
            {% for _alpha in alpha %}
            <h3 id="gloss{{_alpha}}">{{_alpha}}</h3>
                {% for idx, _term in enumerate(terms) %}
                    {% if _term[0] == _alpha %}
                        <p>
                            <strong>{{_term}}</strong>: {{defns[idx]}}
                        <p id="entry1Image"title="Image if needed for entry">
                            <img src="/static/img/nature.jpg" alt="Slide Image" width="100" height="100">
                        </p>
                        </p>
                        <hr>
                        {% set idx = (idx+1) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
</div>
<br><br><br>

</main>

<!-- Footer Information-->
<div id="footer" style="padding-left:20%; font-family:comic sans MS">
    <div class="container">
        {% block footer %}{% endblock %}
    </div>
  This page refers to the glossary template.
  If you are reading this, why are you here?
  Learn from the glossary content you heathen.
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')



</script>
<script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
<script type="text/javascript" src="/static/js/plugins.js" defer></script>
<script type="text/javascript" src="/static/js/script.js" defer></script>
<!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
<script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });




</script>

</div>
</body>