{% macro quiz() %}
<main id="structure" role="main" class="container main-content-container">
<link type="text/css" rel="stylesheet" href="/static/css/quiz.css" />


<div class="page-header">
  <h1>Chapter {{chapter}}: Section {{section}}</h1>
</div>

  <div>
      <h3>Start Quiz! (<span id="quizLength">{{q_list|length}}</span> Questions Long!)</h3>
    <div id="scoreCounter">0</div>
    <div>
        {% for question in q_list %}
            {% set outer_loop = loop %}
            <div class="question_div {% if outer_loop.index-1 > 0 %}inactive_question{% endif %}">
                <img src="{{q_images[outer_loop.index-1]}}">
                <h4>{{question[1]}}</h4>
                {% if question[3] == "short" %}
                    <input type="text" placeholder="Enter short answer here">
                    <button onclick="submitShortAnswer(this, '{{a_list[outer_loop.index-1][0][3]}}')">Submit</button>
                {% else %}
                    {% for answer in a_list[outer_loop.index-1] %}
                        <button onclick="submitMultipleChoiceAnswer(this, '{{answer[2]}}', '{{answer[4]}}')">{{answer[3]}}</button>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div style="display:none">YourScore: <div id="quiz-final-score"></div><button onclick="location.reload()">Redo Quiz?</button></div>
  </div>
</main>
{% endmacro %}

{% macro tips(name, data) %}
<img src="/static/img/tips.png" class="tips" onclick="popTutModal()" data-toggle="modal" data-target="#{{ name }}Modal">
<!-- modal for help popups -->
        <div id="{{ name }}Modal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div id="tut-header" class="modal-header">
                  <h4>Tips
                <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
              </div>
              <div id="tut-body" class="modal-body">
                  <p class="pTut">{{data}}</p>
              </div>
              <div class="tut-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>


{% endmacro %}

{% macro questionTypes() %}
<img src="/static/img/tips.png" class="tips" onclick="popTutModal()" data-toggle="modal" data-target="#qTypesModal">
<!-- modal for help popups -->
        <div id="qTypesModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div id="qTypes-header" class="modal-header">
                  <h4>Tips
                <button type="button" class="close" data-dismiss="modal">&times;</button></h4>
              </div>
              <div id="qTypes-body" class="modal-body">
                  <h3>Multiple choice:</h3>
                  <p class="pTut"> This is a multiple choice answer </p>
                  <h3>Short Answer:</h3>
                  <h3>Drag and Drop:</h3>
                  <h3>Point and Click:</h3>
              </div>
              <div class="tut-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
{% endmacro %}