{% extends 'layouts/base' %}
{% block title %}HELP! Tutorial{% endblock %}
{% block content %}
<div id="sidebar" class="sidenav" style="font-size:10px;">

    <a href="#prof">Professor</a> <!--Link to Professor section on page-->
    <ul id = "prof-list">
        <a href="#create">Create Content</a>
        <a href="#edit">Edit Content</a>
        <a href="#delete">Delete Content</a>
    </ul>
    <a href="#general">General</a> <!--Link to General Section on page-->

</div>

    <!-- Begin page content -->
    <link href="/static/css/main-tutorial.css" rel="stylesheet" type="text/css"/>
    <main id="tutorial-structure" role="main" class="main-content-container">
        <div>
            <h1>HELP! Tutorial</h1>
        </div>
        <!--Section relating to the text on this page-->
        <div id="prof">
            <h2>Professor Content</h2>
            <h3 id="create"><strong>Create Content</strong></h3>
                <div class="vid_wrapper">
                    <div class="videos">
                        <video controls class="page_vid" id="video">
                            <source src="static/video/samplevid.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div>
                        <h4>Creating Classes</h4>
                        <hr>
                        <p>How to create a class..</p>
                        <h4>Creating Chapters</h4>
                        <hr>
                        <p>How to create a chapter..</p>
                        <h4>Creating Sections</h4>
                        <hr>
                        <p>How to create a section</p>
                        <h4>Creating Questions</h4>
                        <hr>
                        <p>How to create a question</p>
                        <h4>Creating Answers</h4>
                        <hr>
                        <h5>Multiple Choice Answers</h5>
                        <p>For multiple choice answers, simply write an answer, select its validity, write the reason why it is true or false, select an image if you so desire and submit! (Images are optional for multiple choice answers.)</p>
                        <h5>Short Answers</h5>
                        <p>For short answers, simply write an answer, the reason why it is true or false and submit!</p>
                        <h5>Point and Click Answers/Image Clicking Answers</h5>
                        <p>You will be asked to designate an area on the question image as either a right or wrong answer. Be sure to pick a size for the box and be careful not not overlap answers. Students will not be able to see the box.</p>
                        <h5>Drag and Drop Answers</h5>
                        <p>First, Pick an image and decide whether this answer will be correct or incorrect.\n Next, you will be asked to pick a size for the answer image and to place this image on the question image where you would like the student to drag their answer.\n Only right answers will be given a dropbox.</p>
                    </div>
                </div>
            <h3 id="edit"><strong>Edit Content</strong></h3>
                <p id="text">
                    This is text describing how to edit content!
                </p>
                <hr>
            <h3 id="delete"><strong>Delete Content</strong></h3>
                <p id="text">
                    This is text describing how to delete content!
                </p>
                <hr>
        </div>
        <div id="General">
            <h2>General Content</h2>
            <h3 id="genSub"><strong>Sub Point in General Content</strong></h3>
                <p id="text">
                    This is text describing a tutorial for specific content relating the the subtopic genSub in General Content!
                </p>
                <hr>
        </div>
</div>
<br><br><br>

</main>
{% endblock %}