{% extends 'layouts/base' %}
{% block title %}HELP! Tutorial{% endblock %}
{% block content %}
<div id="sidebar" class="sidenav" style="font-size:10px;">

    <a href="#prof">Professor</a> <!--Link to Professor section on page-->
    <ul id = "prof-list">
        <a href="#create">Create Content</a>
        <a href="#edit">Edit Content</a>
        <a href="#delete">Delete Content</a>
    </ul>
    <a href="#general">General</a> <!--Link to General Section on page-->

</div>

    <!-- Begin page content -->
    <link href="/static/css/main-tutorial.css" rel="stylesheet" type="text/css"/>
    <main id="tutorial-structure" role="main" class="main-content-container">
        <div>
            <h1>HELP! Tutorial</h1>
        </div>
        <!--Section relating to the text on this page-->
        <div id="prof">
            <h2>Professor Content</h2>
            <h3 id="create"><strong>Create Content</strong></h3>
            <div class="vid_wrapper">
                <div class="videos">
                    <video controls class="page_vid" id="video">
                        <source src="static/video/samplevid.mp4" type="video/mp4">
                    </video>
                </div>
                <div>
                    <hr>
                    <h4>Creating Classes</h4>
                    <p>On the professor homepage, find the "Add Class" button on the left hand side and enter a class name and a class code. Class codes should be kept reasonably private, and only be distributed to your class. Students will need to be provided with the code to access the class.</p>
                    <hr>
                    <h4>Creating Chapters</h4>
                    <p>To create a chapter, on the edit class page click the "Add Chapter" button on the upper left. You will be presented with a dialogue and asked to enter a chapter name and a chapter number. The number is the ordering index of the chapter, ie. where you want the chapter to be relative to other chapters. Try to avoid redundant chapter numbers.</p>
                    <hr>
                    <h4>Creating Sections</h4>
                    <p>To create a section, on the edit chapter page click the "Add Section" button on the upper left. You will be presented with a dialogue and asked to enter a chapter name and a chapter number. The number is the ordering index of the section, ie. where you want the sections to be relative to other sections. Try to avoid redundant section numbers.</p>
                    <hr>
                    <h4>Creating Questions</h4>
                    <p>To create a question, find the "Add Question" button on the edit section page. You will be presented with a dialogue that will prompt you for an order number, the question text itself, the question type and an image upload. Please note that you must add an image to drag and drop/point and click questions.</p>
                    <hr>
                    <h4>Creating Answers</h4>
                    <h5>Multiple Choice Answers</h5>
                    <p>For multiple choice answers, simply write an answer, select its validity, write the reason why it is true or false, select an image if you so desire and submit! (Images are optional for multiple choice answers.)</p>
                    <h5>Short Answers</h5>
                    <p>For short answers, simply write an answer, the reason why it is true or false and submit!</p>
                    <h5>Point and Click Answers/Image Clicking Answers</h5>
                    <p>You will be asked to designate an area on the question image as either a right or wrong answer. Be sure to pick a size for the box and be careful not not overlap answers. Students will not be able to see the box.</p>
                    <h5>Drag and Drop Answers</h5>
                    <p>First, Pick an image and decide whether this answer will be correct or incorrect. Next, you will be asked to pick a size for the answer image and to place this image on the question image where you would like the student to drag their answer. Only right answers will be given a dropbox.</p>
                    <hr>
                    <h5>Creating Glossary Terms</h5>
                    <p>To start, navigate to the edit class page. Below the list of chapters you should find an "Open Glossary" button. Once you navigate to the edit glossary page, note the upper left click the button "Add Term". Once you click this button you will be presented with a dialogue asking for a term and its definition. Once your ready to go hit submit and your new term is live!</p>
                    <hr>
                </div>
            </div>
            <div>
                <h3 id="edit"><strong>Edit Content</strong></h3>
                <hr>
                <h4>Editing Classes</h4>
                <p>To edit a class, navigate to the professor home and click the value you would like to change (ClassName or ClassCode) and enter a value you would prefer. Then click the Save button to the right. If you would like to make changes to the class' chapter, sections or glossary click the Make Edits/Additions button to the left of the class name on the professor home page.</p>
                <hr>
                <h4>Editing Chapters</h4>
                <p>To edit a chapter, navigate to the edit class page and click the value you would like to change (Chapter Number or Chapter Name) and enter a value you would prefer. Then click the Save button to the right. If you would like to make changes to the chapter's sections, click the Add/Edit Sections button to the left of the chapter number on the edit class page.</p>
                <hr>
                <h4>Editing Sections</h4>
                <p>To edit a section, navigate to the edit chapter page and click the value you would like to change (Section Number or Section Name) and enter a value you would prefer. Then click the Save button to the right. If you would like to make changes to the chapter's sections, click the Add/Edit Section Content button to the left of the section number on the edit chapter page.</p>
                <hr>
                <h4>Editing Questions</h4>
                <p>To edit a question, navigate to the edit section page and click the value you would like to change (Question Number, Question Name or Question Type) and select a value you would prefer. Then click the Save button to the right. If you would like to make changes to the question's answers, click the Add/Edit Answers button to the left of the question number on the edit section page.</p>
                <hr>
                <h4>Editing Answers</h4>
                <p>To edit an answer, navigate to the edit question page and click the value you would like to change (Answer Text, Answer Correctness or Answer Reason) and select a value you would prefer. Then click the Save button to the right. You can also change images associated with the answer to the right of the Save button. You must delete and recreate drag and drop/point and click answers you to make changes to their location, size, color or image.</p>
                <hr>
            </div>
            <div>
                <h3 id="delete"><strong>Delete Content</strong></h3>
                <hr>
                <h4>Deleting Classes</h4>
                <p>How to delete a class..</p>
                <hr>
                <h4>Deleting Chapters</h4>
                <p>How to delete a chapter..</p>
                <hr>
                <h4>Deleting Sections</h4>
                <p>How to delete a section</p>
                <hr>
                <h4>Delete Questions</h4>
                <p>How to delete a question</p>
                <hr>
                <h4>Delete Answers</h4>
                <p>How to delete an answer</p>
                <hr>
            </div>
        </div>
        <div id="General">
            <h2>General Content</h2>
            <h3 id="genSub"><strong>Sub Point in General Content</strong></h3>
                <p id="text">
                    This is text describing a tutorial for specific content relating the the subtopic genSub in General Content!
                </p>
                <hr>
        </div>
</div>
<br><br><br>

</main>
{% endblock %}