{% extends 'layouts/base' %}
{% block title %}Professor Home{% endblock %}
{% block content %}
<!-- Begin page content -->
<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
<main id="structure" role="main" class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-block alert-error fade in">
        <a class="close" data-dismiss="alert">&times;</a>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div>
        <h1>Welcome <i>{{ name }}</i></h1>
    </div>

    <!--Section relating to the text on this page-->
    <div id="infoText">
      <p style="color:black">
        This is your homepage where you can create classes, as well as view, publish and edit already created classes.
      </p>
    </div>
    <button id="myBtn" class="btn btn-primary">Add Class</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="post" class="form add-course-form">
            {{ form.csrf_token }}
            {{ form.class_name(class_ = 'form-control', placeholder = form.class_name.label.text, required = true) }}
            {{ form.class_id(class_ = 'form-control', placeholder = form.class_id.label.text, required = true) }}
        <input type="submit" value="Create Class" class="btn btn-primary btn-lg btn-block">
    </form>
    </div>
</div>
    <h4>Here is a list of classes created<br></h4>
        {% for _class in classes %}
                <div class="class-headers">
                    <a class="class-title-link" href="/professor-class-overview/{{_class[1]}}"><h4>{{_class[0]}}</h4></a><br>
                    <a href="/edit-class/{{_class[1]}}"><button type="button" class="btn btn-primary btn-xs class-edit-button">Edit Class</button></a><br>
                    <a href="/delete/{{_class[1]}}"><button type="button" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger btn-xs class-delete-button">Delete Class</button></a>
                </div>
                <h4>Students enrolled: </h4>
                <ul>
                    {% for student in _class[2] %}
                    {% if student[0] != current_user.id %}<li><a href="mailto:{{student[0]}}">{{ student[0] }}</a></li>{% endif %}
                    {% endfor %}
                </ul>
        {% endfor %}
    <!-- Section relating to image on page-->
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</main>
{% endblock %}