{% extends 'layouts/base' %}
{% block title %}{{section_name}}{% endblock %}

{% block content %}

<link href="/static/css/section.css" rel="stylesheet" type="text/css"/>

<main>
    <div class="page-container">
        <div class="gridbody">
            <h1>{{chapter_name}}: {{section_name}}</h1>{% if prof==True %}<a href="/edit-class/{{classID}}/{{chapter}}/{{section}}" class="edit-section-button"><button type="button" class="btn btn-primary btn3">Edit Section</button></a>{% endif %}
            {% if prof==True and section_after != None %}<a href="/section/{{classID}}/{{chapter}}/{{section_after[0]}}" class="edit-section-button"><button type="button" class="btn btn-primary btn4">View Next Section</button></a>{% endif %}
            <hr>

            <!-- Information and Image Blocks -->
            <div class = "section" id="sectionText">
                <p>
                    {% set idx = 0 %}
                    {% for _text in section_text %}

                    <p id="{{_text[0]}}">
                        {% if section_images == [] %}
                            {% if idx < 1 %}
                                {{_text[1]}}
                                {% set idx = idx + 1 %}
                            {% endif %}
                        {% endif %}

                        {% for _image in section_images%}
                            {% if _image[0] != _text[0] %}
                                {% if idx < 1 %}
                                    {{_text[1]}}
                                    {% set idx = idx + 1 %}
                                    {{idx}}
                            {% endif %}
                        {% endif %}
                            <!-- Align Below-->
                            {% if _image[3] == "below" %}
                                {% if _image[0] == _text[0] %}
                                    {{_text[1]}}
                                {% endif %}
                                <!-- Align Center -->
                                {% if _image[2] == "center" %}
                                    {% if _image[0] == _text[0] %}
                                        <br>
                                            <div class="center_img_container" id="{{_text[0]}} Image">
                                                <p title="{{_image[1]}}">
                                                    <img class ="img" alt="Section Block {{_text[0]}} Image" src="{{ _image[1] }}">
                                                </p>
                                            </div>
                                    {% endif %}
                                {% endif %}
                                <!-- Align Right -->
                                {% if _image[2] == "right" %}
                                    {% if _image[0] == _text[0] %}
                                        <br>
                                            <div class="right_img_container" id="{{_text[0]}} Image">
                                                <p title="{{_image[1]}}">
                                                    <img class ="img" alt="Section Block {{_text[0]}} Image" src="{{ _image[1] }}">
                                                </p>
                                            </div>
                                    {% endif %}
                                {% endif %}
                                <!-- Align Left-->
                                {% if _image[2] == "left" %}
                                    {% if _image[0] == _text[0] %}
                                        <br>
                                            <div class="left_img_container" id="{{_text[0]}} Image">
                                                <p title="{{_image[1]}}">
                                                    <img class ="img" alt="Section Block {{_text[0]}} Image" src="{{ _image[1] }}">
                                                </p>
                                            </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <!-- Align Above-->
                            {% if _image[3] == "above" %}
                                <!-- Align Center -->
                                {% if _image[2] == "center" %}
                                    {% if _image[0] == _text[0] %}
                                        <br>
                                            <div class="center_img_container" id="{{_text[0]}} Image">
                                                <p title="{{_image[1]}}">
                                                    <img class ="img" alt="Section Block {{_text[0]}} Image" src="{{ _image[1] }}">
                                                </p>
                                            </div>
                                    {% endif %}
                                {% endif %}
                                <!-- Align Right -->
                                {% if _image[2] == "right" %}
                                    {% if _image[0] == _text[0] %}
                                        <br>
                                            <div class="right_img_container" id="{{_text[0]}} Image">
                                                <p title="{{_image[1]}}">
                                                    <img class ="img" alt="Section Block {{_text[0]}} Image" src="{{ _image[1] }}">
                                                </p>
                                            </div>
                                    {% endif %}
                                {% endif %}
                                <!-- Align Left-->
                                {% if _image[2] == "left" %}
                                    {% if _image[0] == _text[0] %}
                                        <br>
                                            <div class="left_img_container" id="{{_text[0]}} Image">
                                                <p title="{{_image[1]}}">
                                                    <img class ="img" alt="Section Block {{_text[0]}} Image" src="{{ _image[1] }}">
                                                </p>
                                            </div>
                                    {% endif %}
                                {% endif %}
                                {% if _image[0] == _text[0] %}
                                    {{_text[1]}}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </p>
                    {% set idx = 0 %}
                    {% endfor %}
                </p>
                <hr>
                <br>
            </div>

        <!-- Video Block -->
        <div class="vid_wrapper">
            <div class="videos">
            {% for video in video_files %}
            {% set vid_loop = loop %}
            <video controls class="page_vid" id="video{{vid_loop.index}}">
                <source src="{{ video[1] }}" type="video/mp4">
            </video>
            {% endfor %}

            {% if video_files|length >1 %}
            <!-- navigation -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            {% endif %}
        </div>
            <!-- progress -->
        {% if video_files|length >1 %}
            <div style="text-align:center">
                {% for dot in video_files %}
                {% set dot_loop = loop %}
                <span class="dot" onclick="currentSlide({{dot_loop.index}})"></span>
                {% endfor %}
            </div>
        {% endif %}
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div id="modal-header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div id="modal-body" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>


            <!-- Quiz Block -->
        {% if q_list!=[] %}
        <div>

            <div class="quiz">
                <h3 class="header" id="header">Section Review!
                    <br>
                    (<span id="quizLength">This review is {{q_list|length}}</span> questions long!)
                    <br>
                    <button id="start-quiz-button" class="startBtn" onclick="startQuiz()">Start Quiz</button>
                </h3>


                <div class="questions" id="questions">
                    <!-- question grid skeleton -->
                    <div class="question_div">
                        <!-- question progress -->
                        <div class="prog_bub" id="prog_bub">
                            {% for question in q_list %}
                            {% set prog_loop = loop %}
                            <div class="progress" id="progress{{ prog_loop.index-1 }}"></div>
                            {% endfor %}
                        </div>

                        <!-- for loop question content -->
                        {% for question in q_list %}
                        {% set outer_loop = loop %}
                        <!-- timer-->
                        <div id="timer{{outer_loop.index-1}}" class="timer_box">
                            <div class="timer_time" id="timer_time{{ outer_loop.index-1 }}">{{ question[6]}}</div>
                            <div style="display: none;" id="time_for_this_question{{outer_loop.index-1}}">{{ question[6]}}</div>
                        </div>
                        <!-- image -->
                        {% if question[5] == None %}
                            {% set img = "../static/img/question.png" %}
                        {% else %}
                            {% set img = question[5] %}
                        {% endif %}
                        {% if question[3] != "pointnclick" %}
                                {% if question[3] == "dragndrop" %}
                                 <a style="width: 200%" class="q_img_container" data-fancybox href="{{ img }}" id="q_img_container{{ outer_loop.index-1 }}">
                                    <div class="drag-n-drop-container" id="drop_zone_container{{outer_loop.index-1}}">
                                        {% for answer in a_list[outer_loop.index-1] %}
                                        {% set dropbox_loop = loop %}
                                            {% if answer[2] == 1 %}
                                                <div id="drop_element{{dropbox_loop.index}}" style="border-color: {{answer[9]}}" class="drop-zone" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                                                    <div style="display: none;" id="drop_element_x_pos{{dropbox_loop.index-1}}">{{answer[6]}}</div>
                                                    <div style="display: none;" id="drop_element_y_pos{{dropbox_loop.index-1}}">{{answer[7]}}</div>
                                                    <div style="display: none;" id="answer_reason{{dropbox_loop.index-1}}">{{answer[4]}}</div>
                                                    <div style="display: none;" id="width_adjustment{{dropbox_loop.index-1}}">{{answer[8]}}</div>
                                                    <div style="display: none;" id="height_adjustment{{dropbox_loop.index-1}}">{{answer[9]}}</div>
                                                    <div style="display: none;" id="drop-zone-color{{dropbox_loop.index-1}}">{{answer[10]}}</div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <img class="q_img" src="{{ img }}">
                                    </div>
                                {% else %}
                                 <a class="q_img_container" data-fancybox href="{{ img }}" id="q_img_container{{ outer_loop.index-1 }}">
                                    <img class="q_img" src="{{ img }}">
                                {% endif %}
                            </a>
                        {% elif question[3] == 'pointnclick' %}
                        <img class="point-n-click-img big-section-img" onclick="clickedPointAndClickQ(event, this)" id="point-click-question-img{{outer_loop.index-1}}" src="{{ img }}">
                        <ul id="answer-zone-deets{{outer_loop.index-1}}" class="answer-zone-deets">
                            {% for answer in a_list[outer_loop.index-1] %}
                            <li>
                                <div id="answer-box-x-coord">{{answer[6]}}</div>
                                <div id="answer-box-y-coord">{{answer[7]}}</div>
                                <div id="answer-reason">{{answer[4]}}</div>
                                <div id="answer-box-width-adjustment">{{answer[8]}}</div>
                                <div id="answer-box-height-adjustment">{{answer[9]}}</div>
                                <div id="answer-correctness">{{answer[2]}}</div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <!-- question text -->
                        <div {% if question[3] == 'pointnclick' %} class="point-n-click-header" {% else %} class="q_header" {% endif %} id="q_header{{ outer_loop.index-1 }}">
                            <h4>{{question[1]}}</h4>
                        </div>

                        <!-- question input/answers -->
                        <div class="q_qs" id="q_qs{{ outer_loop.index-1 }}" {% if question[3] == "dragndrop" %} style="height: 150px;" {% endif %} >
                            <!-- short answer -->
                            {% if question[3] == "short" %}
                            {% set saList= [] %}
                            {% for answer in a_list[outer_loop.index-1] %}
                                {% if answer[2] ==1 %}
                                    {{ saList.append([answer[3], answer[4]]) or "" }}
                                {% endif %}
                            {% endfor %}
                            <input class="input" id="input" placeholder="Enter short answer here" type="text">

                            <button class="btn-success btn" data-toggle="modal" data-target="#myModal" onclick="submitShortAnswer(this, {{ saList }})">Submit </button>
                            <!-- multiple choice -->
                            {% elif question[3] == "multiple" %}
                             <div id="answers{{outer_loop.index-1}}" class="mcAns">
                            {% for answer in a_list[outer_loop.index-1] %}
                            {% set answer_loop = loop %}
                            <button class="mult_choice" id="Button{{ answer[0] }}"  value="{{answer[2]}}" onclick="toggleSelected('Button{{ answer[0] }}', this, '{{answer[4]}}', '{{answer[2]}}', '{{answer[3]}}')" >
                                {{answer[3]}}

                                {% if answer[5]!= None %}
                                <br>
                                <img src={{answer[5]}} class="mcImg" id="img{{outer_loop.index-1}}.{{answer_loop.index-1}}">
                                {% endif %}


                            </button>
                            {% endfor %}
                             </div>
                            <div class="mcSubmit" id="mcSubmit{{outer_loop.index-1}}">
                                <button onclick="checkMultChoice()" class="btn-success btn" data-toggle="modal" data-target="#myModal" >Submit</button>
                            </div>
                            {% elif question[3] == "dragndrop" %}
                            {% for answer in a_list[outer_loop.index-1] %}
                            {% set inner_loop = loop %}
                            <div class="drag_answer_container_div">
                                <img id="drag_element{{outer_loop.index}}:{{inner_loop.index}}" src="{{answer[5]}}" draggable="true" ondragstart="drag(event)">
                                <div style="display: none;" id="answer_img_height_adjustment{{outer_loop.index}}:{{inner_loop.index}}">{{answer[8]}}</div>
                                <div style="display: none;" id="answer_img_width_adjustment{{outer_loop.index}}:{{inner_loop.index}}">{{answer[9]}}</div>
                                <div style="display: none;" id="answer_correct{{outer_loop.index}}:{{inner_loop.index}}">{{answer[2]}}</div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}
                <div class="enlarge" id="enlarge" >
                    <button class="btn-success btn" data-toggle="modal" data-target="#myModal" onclick="popImageModal()">Enlarge Answer Images</button>
                </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="page_nav">
        <!-- If there is a quiz element -->

        <!-- If there is a section after this one -->
        {% if section_id_after != [] and section_after[4] == 1 %}
            <a href="/section/{{ classID }}/{{ chapter }}/{{ section_after[0] }}">
                <button id="next" class="btn btn-primary next-hidden">Next Page</button>
            </a>

        <!-- if there isn't a section after -->
            {% else %}
            <!-- If there is a section after this one -->

            <!-- next chapter -->
            {% if chapter_after != [] and next_ch_sect != [] and chapter_after[4] == 1 and next_ch_sect[4] == 1 %}
            <a href="/section/{{ classID }}/{{ chapter_after[0] }}/{{ next_ch_sect[0]}}">
                <button id="next" class="btn btn-primary next-hidden">Next Chapter</button>
            </a>
            {% else %}
                {% if current_user.has_role_name('Student') %}
                <a href="/student-class-overview/{{ classID }}">
                    <button id="next" class="btn btn-primary next-hidden">Back to Class Overview</button>
                </a>
                {% else %}
                <a href="/professor-class-overview/{{ classID }}">
                    <button id="next" class="btn btn-primary next-hidden">Back to Class Overview</button>
                </a>
                {% endif %}
            {% endif %}
        {% endif %}


          <!-- if there isn't a quiz -->
        {% else %}
            <div class="page_nav">
            <!-- If there is a section after this one -->
            {% if section_after != None and section_after[4] == 1 %}
            <a href="/section/{{ classID }}/{{ chapter }}/{{ section_after[0] }}">
                <button class="btn btn-primary next-btn">Next Page</button>
            </a>

            <!-- If there isn't a section after this one -->
            {% else %}

            <!-- next chapter -->
            {% if chapter_after != [] and next_ch_sect != []  and chapter_after[4] == 1 and next_ch_sect[4] == 1 %}
            <a href="/section/{{ classID }}/{{ chapter_after[0] }}/{{ next_ch_sect[0]}}">
                <button class="btn btn-primary next-btn">Next Chapter</button>
            </a>
            <br>
            {% endif %}

            <!-- return to overview -->
            <!-- If the user is a student -->
            {% if current_user.has_role_name('Student') %}
            <a href="/student-class-overview/{{ classID }}">
                <button class="btn btn-primary next-btn">Back to Class Overview</button>
            </a>

            <!-- If the user is a prof -->
            {% else %}
            <a href="/professor-class-overview/{{ classID }}">
                <button class="btn btn-primary next-btn">Back to Class Overview</button>
            </a>
            {% endif %}
        {% endif %}
        {% endif %}

       <!-- if there exists a section before -->
        {% if section_id_before != [] %}
        <a href="/section/{{ classID }}/{{ chapter }}/{{ section_id_before}}">
            <button class="btn btn-primary previous">Previous Page</button>
        </a>

        <!-- if there isn't a section before -->
        {% else %}
             <!-- If the user is a student -->
            {% if current_user.has_role_name('Student') %}
            <a href="/student-class-overview/{{ classID }}">
                <button class="btn btn-primary previous">Back to Class Overview</button>
            </a>

            <!-- If the user is a prof -->
            {% else %}
            <a href="/professor-class-overview/{{ classID }}">
                <button class="btn btn-primary previous">Back to Class Overview</button>
            </a>
            {% endif %}
        {% endif %}
        </div>
    </div>
</main>
<script src="/static/js/section.js"></script>
{% endblock %}