body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

.bg{
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 4em;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
    line-height:35px;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.title{
    width:50%;
    float: left;
    text-align: right;
}

.login{
    padding-top: 25px;
    position:relative;
    justify-content:center;
    display: flex;
}

.call-to-action-div{
    display: inline-block;
    text-align: center;
    position: relative;
}
body
{
    margin: 0;
    padding: 0;
}
.box{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 4em;
    color: #fff;
    width: 100%;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.word{
    display: inline-block;
}

.word span
{
    position: absolute;
    top: 0;
    overflow: hidden;
    animation: animate 10s linear infinite;
    opacity: 0
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: translateY(-50px);
    }
    2%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    18%
    {
        opacity: 1;
        transform: translateY(0px);
    }
    20%
    {
        opacity: 0;
        transform: translateY(50px);
    }
    100%
    {
        opacity: 0;
        transform: translateY(50px);
    }
}
.word span:nth-child(1)
{
    animation-delay: 0s
}
.word span:nth-child(2)
{
    animation-delay: 2s
}
.word span:nth-child(3)
{
    animation-delay: 4s
}
.word span:nth-child(4)
{
    animation-delay: 6s
}
.word span:nth-child(5)
{
    animation-delay: 8s
}

@media only screen and (max-width: 600px) {
  .box {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 2em !important;
    color: #fff;
    width: 100%;
    text-shadow: 0 2px 2px rgba(0,0,0,.5);
  }
}