{% extends 'layouts/base' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form student-login-form">
    {{ form.csrf_token }}
    <h3 class="form-heading">Login <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.email(class_ = 'form-control first-input', placeholder = form.email.label.text, required = true, autofocus = true) }}
    {{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
    <h5 class="pull-left"><a href="{{ url_for('new_student_account') }}">Student Registration </a></h5>
    <h5 class="pull-right"><a href="{{ url_for('new_prof_acc') }}">Professor Registration</a></h5>
    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
</form>
{% endblock %}
