{% extends 'layouts/base' %}
{% block title %}Reset Your password{% endblock %}
{% block content %}
<div id="wrap">
  <form method="POST" class="form student-login-form">
    {{ form.csrf_token }}
    <h3 class="form-heading">Reset Your Password <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    {{ form.password(class_ = 'form-control', placeholder = form.password.label.text, required = true) }}
    {{ form.confirm(class_ = 'form-control last-input', placeholder = form.confirm.label.text, required = true) }}
    <p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p>
    <input type="submit" value="Reset" class="btn btn-default btn-lg btn-block">
  </form>
</div>
{% endblock %}